{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    <section class="banner mtop pb-5 mb-5" id="banner">
        <div class="content">
            <h2>Always Choose Good</h2>
            <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dalore magna aliqua. Ut enim ad minim veniam,
            quis nostrud.</p>
            <a href="{% url 'booking' %}" class="btn btn-light btn-rounded bk_ap">Book Appointment</a>
        </div>
    </section>
    
  
     
            <div class="container my-5">
            <h2 class="text-center font-weight-bold">Our Team</h2>
            <p class="text-center mb-5">If you want to support our friends from Ta</p>
            <div class="row text-center about-card">
             <div class="col-md-4 team">
               <div class="card text-center">
                <img src="../images/skyle.jpg" alt=""  class="rounded-circle">
                <h2>Jane Marlen</h2>
                <p>Director of Works</p>
               </div>
             </div>
     
             <div class="col-md-4 team">
              <div class="card">
               <img src="../images/skyle.jpg" alt=""  class="rounded-circle">
               <h2>Jane Marlen</h2>
               <p>Director of Works</p>
              </div>
            </div>
     
            <div class="col-md-4 team mb-5">
              <div class="card">
               <img src="../images/skyle.jpg" alt=""  class="rounded-circle">
               <h2>Jane Marlen</h2>
               <p>Director of Works</p>
              </div>
            </div>
            </div>
          </div>

            <div class="container my-5">
            <h2 class="text-center font-weight-bold mt-5">Recent Projects</h2>
            <p class="text-center mb-5">If you want to support our friends from Ta</p>
            <div class="row text-center about-card">
             <div class="col-md-6 team2">
               <div class="card">
                <img src="../images/cdoncel.jpg" alt="">
                <p>Director of Works</p>
               </div>
             </div>
     
             <div class="col-md-6 team2">
              <div class="card">
               <img src="../images/cdoncel.jpg" alt="">
               <p>Director of Works</p>
              </div>
            </div>
     
            <div class="col-md-6 team2">
              <div class="card">
               <img src="../images/cdoncel.jpg" alt="">
               <p>Director of Works</p>
              </div>
            </div>
            <div class="col-md-6 team2 mb-5">
              <div class="card">
               <img src="../images/cdoncel.jpg" alt="">
               <p>Director of Works</p>
              </div>
            </div>
      <!--
            <div class="row text-center about-card">
              <div class="col-md-3 team">
                <div class="card">
                 <img src="../images/cdoncel.jpg" alt="">
                 <p>Director of Works</p>
                </div>
              </div>
      
              <div class="col-md-3 team">
               <div class="card">
                <img src="../images/cdoncel.jpg" alt="">
                <p>Director of Works</p>
               </div>
             </div>
      
             <div class="col-md-3 team">
               <div class="card">
                <img src="../images/cdoncel.jpg" alt="">
                <p>Director of Works</p>
               </div>
             </div>
             <div class="col-md-3 team mb-5">
               <div class="card">
                <img src="../images/cdoncel.jpg" alt="">
                <p>Director of Works</p>
               </div>
             </div> 
             -->
             </div>
          </div>

          <div class="container my-5">
          <h2 class="text-center font-weight-bold mt-5">Top Brands</h2>
            <p class="text-center mb-5">If you want to support our friends from Ta</p>
          
            <div class="row text-center about-card">
              <div class="col-md-2 team1">
               
                 <img src="../images/brand5.png" alt="">
               
              </div>
              
            <div class="col-md-2 team1">
              
              <img src="../images/brand2.png" alt="">
             
           </div>
     
             <div class="col-md-2 team1">
             
               <img src="../images/brand3.png" alt="">
           
            </div>

            <div class="col-md-2 team1">
              
              <img src="../images/brand1.png" alt="">
          
           </div>

            <div class="col-md-2 team1">
               
              <img src="../images/brand4.png" alt="" >
          
           </div>
     
          </div>
          </div>
        
          
           
      
  
        
{% endblock content %}
