{% extends 'base.html' %}

{% block title %}Add Photo{% endblock title %}

{% block content %}

<section class="banner2 mtop pb-5" id="banner">
    <div class="col-md-12 col-sm-12 col-xs-12 mx-auto" >
        <h1 class="display-1 text-center text-white fw-bold">Photo Edit Page</h1>
    </div>
</section>

    <div class="container my-5">
        {% load crispy_forms_tags %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'gallery' %}">Go Back</a>
                <div class="card p-5 mt-4 p-edit">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-info ml-2" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}