
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  } 

  body {
    padding: 100px 0;
  }
  
  :root {
    --primary-color: #0062a8;
    --secondary-color: #F26C4F;
    --dark-color: #22303e;
    --light-color: #ffffff;
    --gray-color: #f5f5f5;
  }


  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}


#logo {
  color: var(--dark-color);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

#logo span {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 900;
    font-family: 'Agency FB', sans-serif;
}


  .navbar {
    background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }

  
  .nav-item .active {
    position: relative;
}

.nav-item .active::before {
    
  background: #000;

}
.nav-item .active::before {

  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: #000;

}

    .float-right {
        display: flex; 
        flex-direction: column;  
        justify-content: flex-end;
    }

    .row { 
        display: flex; 
        flex-direction: row;  
        flex-wrap: wrap;
    }

    .container-fluid {
      margin-left: 0;
    }

   .sect-img .col-lg-2, 
   .sect-img .col-md-12 {
      width: 300px;
      padding: 0;
      margin: 0;
    }

    .container-fluid section { 
      margin: 0;
    }

    .row {
      margin: 0;
  }

  .col-md-8 {
    padding: 0;
  }

  .goUp {
    font-size: 48px;
  }


   .text-center .btn-circle {
     color:#000; 
     background-color: #ffffff;
     width: 40px;
     height: 40px;
     border-radius: 50%;
    }

    #hint_id_password1,
    #hint_id_username {
        display: none;
    }

    .card-body {
      padding: .5rem;
  }

    .card-body p {
      margin-bottom: 0;
    }

    .imag-thumbnail {
      height: 400px;
      object-fit: cover;
    }

    .fullPic img {
      max-width: 60vw; 
      max-height: 60vh;
      margin: 20px 0;
    }

    .photo-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .photo-date {
      font-size: 10px;
      float: right;
    }

    .imag-author {
        position: absolute;
        top: 10px;
        right: 25px;
        border: 1px solid #e3e3e3;
        max-width: 80px;
        padding: 0 5px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        border-radius: 7px;
    }

    .imag-author:hover {
      color: #000000;
      background:#ffff00;
  }







  /****************************************************************************************************************
                                                    HOME BANNER

  *****************************************************************************************************************/



  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url("../images/photo.jpg");
    background-size: cover;
    top: 100;
    transition: 0.2s;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}


/* section {
  padding: 100px;
}
 */
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}



.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span{
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 700;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  /*min-height: 300px;*/
  height: 100%;
}
.row .col50 .imgBx img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



 /****************************************************************************************************************
                                                        TEST GALLERY

  *****************************************************************************************************************/

  .col-4:hover {
    background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))
  }



   /****************************************************************************************************************
                                                         FOOTER

  *****************************************************************************************************************/

    footer {
      background-color: #e3e3e3;
      height: 50px;
      padding-top: 1rem;
    }

 